<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>cheongha.site</string>
	<key>YouthCenter_API_KEY</key>
	<string>8209a6c285cde4d07010e0dd</string>
</dict>
</plist>
